<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="go.kr.mapo.mapoyouth">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MapoYOUTH"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.setting.SettingTermsOfServiceFragment"
            android:exported="true" />
        <activity
            android:name=".ui.setting.SettingOpenSourceFragment"
            android:exported="true" />
        <activity
            android:name=".ui.donation.DonationDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".ui.search.SearchActivity"
            android:exported="true" />
        <activity
            android:name=".ui.edu.EduDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".ui.volunteer.VolunteerDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".ui.youth.YouthDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>