*.iml
.gradle
MapoYOUTH/local.properties
MapoYOUTH/.idea/caches
MapoYOUTH/.idea/libraries
MapoYOUTH/.idea/modules.xml
MapoYOUTH/.idea/workspace.xml
MapoYOUTH/.idea/navEditor.xml
MapoYOUTH/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

/.idea/compiler.xml
/.idea/gradle.xml
/.idea/misc.xml
/app/build.gradle